.flex-more {
    max-width: 1440px;
    margin: 25px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffff0;
    padding: 0 20px;
}
.flex-more h1 {
    color: #B2BB8A;
    text-align: center;
}
.flex-more h2 {
    color: #B2BB8A;
    font-weight: 600;
    margin: 25px 0;
    text-align: start;
}
.col-more {
    width: 80%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.row-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-img-more {
    display: flex;
    justify-content: center;
}
.more-img {
    height: 200px;
    width: 32%;
    margin: 25px 0;
    object-fit: cover;
    object-position: top 100%;
}
.mid {
    object-position: 40%;
}
.more-img-title {
    height: 300px;
    width: 50%;
    object-fit: cover;
    margin: 0 auto 20px ;
}
.more-txt {
    padding: 0;
    margin: 20px auto;
}
.left {
    margin-left: 0;
    text-align: left;
}
.more-img-why {
    height: 400px;
    min-width: 300px;
    object-fit: cover;
}
img.abs {
    position: relative;
    margin: 10px auto;
    height: 300px;
    width: 50%;
    object-fit: cover;
    object-position: 50% 40%;
}
.decal {
    padding-left: 20px;
    margin: 0 0 5px;
}
.col-reverse {
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    .flex-more h1 {
        font-size: 25px;
        margin: 10px;
    }
    .flex-more h2 {
        font-size: 18px;
        margin: 10px 0;
    }
    .flex-more p {
        font-size: 14px;
    }
    .more-img {
        height: 150px;
        width: 30%;
        margin: 0 5px 5px;
    }
    .more-img-title {
        height: 200px;
        width: 80%;
        object-fit: cover;
        margin: 0 0 20px 0;
    }
    .more-img-why {
        height: 300px;
        min-width: 200px;
    }
    img.abs {
        position: relative;
        top: 0;
        right: 0;
        margin: auto;
        height: 200px;
        width: 80%;
        object-fit: cover;
        object-position: top 10%;
    }
    .col-reverse {
        flex-direction: column-reverse;
        gap: 0;
    }
    .more-img-why {
        width: 75%;
        height: 200px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 750px) {
    .flex-more h1 {
        margin: 0 0 10px 0;
    }
    .flex-more h2 {
        text-align: center;
    }
    .flex-more p {
        font-size: 13px;
    }
    .mid {
        object-position: 35%;
    }
    .more-img-why {
        width: 90%;
        height: 200px;
        margin-top: 20px;
    }
    .col-more {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .flex-more h1 {
        font-size: 20px; 
    }
    .flex-more h2 {
        font-size: 16px;
        margin: 5px 0;
    }
    .flex-more p {
        font-size: 12px;
    }
    .more-img {
        height: 100px;
    }
    .more-img-title {
        height: 100px;
        width: 80%;
    }
    .more-img-why {
        width: 80%;
        height: 100px;
        margin-top: 10px;
    }
    img.abs {
        position: relative;
        top: 0;
        right: 0;
        margin: auto;
        height: 100px;
        width: 80%;
        object-fit: cover;
    }
}