.about-img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.about-txt {
    max-width: 500px;
    text-align: center;
    padding: 0 20px
}
.about-txt p{
    font-size: 14px;
}
.center {
    padding: 0 5% 20px;
    display: flex;
    flex-direction: column;
}
.margin {
    margin: 20px 0;
}

@media screen and (max-width: 1000px) {
    .about-img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }
    .about-txt {
        text-align: center;
        padding: 0 20px
    }
    img.object-pos-top {
        object-position: top;
    }
    img.object-pos {
        object-position: right 40%;
    }
    .about-txt p{
        font-size: 10px;
    }
    .about-txt h2{
        font-size: 18px;
    }
    .margin {
        display: flex;
        flex-direction: column;
    }
    .col {
        flex-direction: column-reverse;
    }
}