/* HOME */
.home h1 {
    color: #B2BB8A;
    text-align: center;
    background-color: #fffff0;
    margin: 0;
    padding: 20px;
}
.home-img {
    width: 400px;
    max-height: 400px;
    object-fit: cover;
    margin: 20px;
}
.home-txt {
    margin: 20px;
    max-width: 400px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px ;
    background-color: #fffff0;
}

@media screen and (max-width: 1000px) {
    .home-img {
        width: 200px;
        max-height: 200px;
    }
    .home-txt {
        margin: 0 20px;
        max-width: 400px;
    }
    .home-txt h1{
        margin: 0;
        font-size: 25px;
    }
    .home-txt h2{
        font-size: 18px;
    }
    .home-txt p{
        font-size: 12px;
    }
}

@media screen and (max-width: 750px) {
    .home-img {
        margin: 20px 0 0 0 ;
    }
    .home-txt {
        margin: 0 20px;
        max-width: 300px;
    }
    .home-txt h1{
        margin: 0;
        font-size: 22px;
    }
    .home-txt h2{
        font-size: 16px;
    }
    .home-txt p{
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .flex {
        flex-direction: column;
    }
    .home-img {
        width: 75%;
        height: 200px;
        object-fit: cover;
        object-position: right 70% ;
    }
}

/* ABOUT ME */
.flex-row-about {
    background-color: #fffff0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px;
}
.about-txt p{
    font-size: 14px;
}
.center {
    padding: 0 5% 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    img.object-pos-top {
        object-position: top;
    }
    img.object-pos {
        object-position: right 40%;
    }
}
@media screen and (max-width: 500px) {
    .flex-row-about {
        flex-direction: column;
        padding-top: 20px;
    }
}
