.flex h1 {
    color: #B2BB8A;
}
.home-img {
    width: 400px;
}
.home-txt {
    margin: 20px;
    max-width: 500px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fffff0;
}

@media screen and (max-width: 1000px) {
    .home-img {
        width: 200px;
    }
    .home-txt {
        margin: 0 20px;
        max-width: 400px;
    }
    .home-txt h1{
        margin: 0;
        font-size: 25px;
    }
    .home-txt h2{
        font-size: 18px;
    }
    .home-txt p{
        font-size: 12px;
    }
}

@media screen and (max-width: 750px) {
    .flex {
        flex-direction: column;
    }
    .home-img {
        width: 150px;
        margin: 20px 0 0 0 ;
    }
    .home-txt {
        margin: 0 20px;
        max-width: 300px;
    }
    .home-txt h1{
        margin: 0;
        font-size: 22px;
    }
    .home-txt h2{
        font-size: 16px;
    }
    .home-txt p{
        font-size: 10px;
    }
}