.logo-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/fond.jpg');
    background-position : right 30%;

}
.nav-anchors {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 30px;
    width: 100%;
    font-weight: bold;
    background-color: #fffff0;
    color: black;
}
.insta {
    height: 40px;
    cursor: pointer;
}
.logo-header {
    height: 300px;
}
.nav {
    color: black;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0.2em 0;
}
.nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #B2BB8A;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.nav:hover::after,
.nav:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.nav:visited {
    color: black
}
.nav:hover {
    cursor: pointer;
    color: #B2BB8A;
    transform: scale(1);
}

@media screen and (max-width: 800px) {
    .nav-anchors {
        display: none;
    }
    .logo-ctn {
        height: 200px;
        background-position : 92% 35%;
    }
    .logo-header {
        height: 200px;
    }
}

@media screen and (max-width: 500px) {
    .logo-ctn {
        background-position : 86% 35%;
    }
}