footer {
    height: 150px;
    background-color: #b2bb8a;
}

.logo-footer {
    height: 150px;
}

.flex-row {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.ctn {
    gap: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 10px;
    height: 25px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .ctn {
        gap: 20px;
    }
    .infos p {
        font-size: 10px;
    }
    .infos h3 {
        font-size: 14px;
    }
    .img-footer {
        height: 30px;
    }
    footer {
        height: 100px;
    }
    .logo-footer {
        height: 100px;
    }
    .copyright {
        font-size: 8px;
    }
}

@media screen and (max-width: 700px) {
    .ctn {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;
        padding: 10px;
    }
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .infos h3 {
        margin: 0;
    }
    .infos p {
        margin: 0;
    }
    footer {
        height: 150px;
    }

}