body {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}

.center {
    text-align: center;
    background-color: #fffff0;
}
.carousel-root {
    width: 70%;
}
.slide, 
.selected {
    max-height: 300px;
    object-fit: cover
}
